<script>
export default {
  data: () => ({
    messages: [
      {
        from: "Name",
        message: `Waratchaya Roengjai`,
        color: "#FABDEB",
      },
      {
        from: "Student ID",
        message: "63160218",
        color: "#ACF6EC",
      },
      {
        from: "Personal",
        message: "Age : 20 ",
        color: "#F7F89C",
      },
      {
        from: "Education",
        message: "Bachelor's degree",
        color: "#9CB1F8",
      },

      {
        from: "Interests",
        message: "Web Developer",

        color: "#C2F89C",
      },
      {
        from: "Favorite Game",
        message: "Fivem , Minecraft",

        color: "#FF4C64",
      },
    ],
  }),
};
</script>

<template>
  <v-parallax
    src="https://pbs.twimg.com/media/FUf3k1laIAEeVUO?format=jpg&name=large"
  >
    <v-container>
      <v-row justify="space-around">
        <v-card width="500">
          <v-img
            height="300"
            src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/240122179_4171334726281162_3850225502573795603_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=4pJYxS5BavMAX_y2QPK&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCd4wNCfohKhWvkggVWPPuUT_h76pPD8vAZlpklCpkksw&oe=63A3781D"
            cover
            class="text-white"
          >
            <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
              <template v-slot:prepend> </template>

              <v-toolbar-title class="text-h4"> MY PROFILE </v-toolbar-title>

              <template v-slot:append>
                <v-btn icon="mdi-dots-vertical"></v-btn>
              </template>
            </v-toolbar>
          </v-img>

          <v-card-text>
            <div class="font-weight-bold ml-1 mb-2">My Profile</div>

            <v-timeline density="compact" align="start">
              <v-timeline-item
                v-for="message in messages"
                :key="message.time"
                :dot-color="message.color"
                size="x-small"
              >
                <div class="mb-4">
                  <div class="font-weight-normal">
                    <strong>{{ message.from }}</strong>
                  </div>
                  <div>{{ message.message }}</div>
                </div>
              </v-timeline-item>
            </v-timeline>
          </v-card-text>
        </v-card>
      </v-row>
    </v-container>
  </v-parallax>
</template>
