<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://scontent.fbkk30-1.fna.fbcdn.net/v/t1.6435-9/109833061_3083933578354621_335643826974950237_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_ohc=wUr-Zgs4I0gAX-h4cbs&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCxEhzBT8bIPscMkUcaXPtrl3PoFKR7TbJUtO2epvWLbg&oe=63C5654D"
          title="MIND❥"
          subtitle="63160218@go.buu.ac.th"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myfiles"
          to="/my-files-view"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="My Profile"
          value="profile"
          to="/share-with-me"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/starred"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiFolder,
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiCursorPointer,
  mdiCheckboxMarkedCircle,
  mdiAccountMultiple,
  mdiStar,
} from "@mdi/js";
const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
